<header>
  <div class="logo-menu">
    <img src="assets/images/numeralIOT-logo.png" alt="Numeral iot Logo">
  </div>
  <nav>
    <ul>
      <li><a routerLink="/main">Personal Details</a></li>
      <li><a routerLink="/education">Education Levels</a></li>
      <li><a routerLink="insurance">Payroll Details</a></li>
      <li><a routerLink="/other">Other Information</a></li>
      <li><a routerLink="/index">Logout</a></li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer><p>numeral IoT &copy; 2023</p></footer>