<h2>Education Details</h2>
<form action="upload" method="post" enctype="multipart/form-data" class="form-group">
<label for="file-type">Education levels:</label>
<select id="file-type" name="file-type">
<option value="image">Secondary </option>
<option value="document">Vocational/ Technical</option>
<option value="video">Undergraduate</option>
<option value="video">Graduate / postgraduate</option>
</select><br>
<label for="level">Institution:</label>
<input type="text2">
<label for="level">Year:</label>
<input type="text2">
<label for="level">Field Of Study:</label>
<input type="text2">
<label for="level">Qualification:</label>
<input type="text2">


<br>

<label for="file-upload">Upload Certificate:</label>
<input type="file" id="file-upload" name="file-upload" accept="image/*, .pdf, .doc, .docx, .mp4">

<br><br>

<input type="submit" value="Upload">
</form>