
<main>
<h2>Personal Details</h2>
<div class="profile-container">
    <h2>User Picture</h2>
    <div id="preview"></div>
    <input type="file" id="fileInput" accept="image/*">
    <label for="fileInput" id="uploadButton" placeholder="add photo">Click to add</label>
  </div>

<form>
    <label for="fname">First name:</label><br>
    <input type="text1" id="form-group" name="fname" ><br>

    <label for="mname">middle name:</label><br>
    <input type="text1" id="form-group" name="fname" ><br>

    <label for="lname">Last name:</label><br>
    <input type="text1" id="form-group" name="lname" ><br><br>
        <h1>Gender Selection</h1>

        <div class="gender-container">
          <input type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label><br>
        
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label><br>
        
          <input type="radio" id="others" name="gender" value="others">
          <label for="others">Others</label><br>
        </div>
     
     <label for="emailaddress">Email Address:</label><br>
    <input type="text" id="form-group" name="emailaddress" ><br>
   
    <label for="paddress">Physical Address:</label><br>
    <input type="text" id="form-group" name="paddress" ><br><br>
     
     <label for="mnumber">Mobile Number:</label><br>
    <input type="text" id="form-group" name="mnumber" ><br>
     
     <label for="birthdate">Birthdate:</label>
    <input type="date" id="form-group" name="birthdate"><br>
  
  
  
  
    <!-- Other fields for personal details -->
  
    <input type="submit" value="Save Changes">
  </form>